langchain
langchain-openai
langchain-anthropic
llama-index
chromadb
pydantic
streamlit
spacy
pandas
numpy
python-dotenv
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
langchain-ollama
